<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marcellomessori"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="20" />

    <application
        android:name="com.marcellomessori.HelloAndroid"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.marcellomessori.HelloAndroidActivity"
            android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.marcellomessori.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.marcellomessori.HelloAndroidActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marcellomessori.HelloAndroidActivity" />
        </activity>

        <receiver android:name="UsbConnectionBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>